body{
  /* background: url(https://miro.medium.com/v2/resize:fit:5120/1*GsImz-edoeuqCMfKxDus0w.jpeg); */
  /* background: url(https://i.pinimg.com/originals/10/91/31/109131a1c9ba16bddcff5b0938ff1d8d.png); */
  background: url(https://t1.daumcdn.net/tistoryfile/fs9/16_tistory_2008_06_24_12_06_486064b1ba38f?origina);
  
  height:50vh;
  background-size : cover;
}
.container {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center; 
}
.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color:rgba(240, 255, 255, 0.1);  
}
.weather-button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 5px;
}

.weather-button:hover, .weather-button:focus {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.weather-button.active {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}